h1 {
    text-align: center;
    font-family: Quicksand, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#search{
    justify-items: center;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 20px;
    background-attachment: fixed;
    background-color: azure;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 75%;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.container {
    display: grid;
    background-color: teal;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(5, 20vmin);
    background-color: orange;
    gap: 2vmin;
    padding: 5px;
}

.cell {
    display: flex;
    background-color: rgb(102, 102, 102);
    border-radius: 1vmin;
    padding: 3vmin;
    height: 100%;


}