/* body{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background: linear-gradient(pink, rgb(185, 192, 232));
    background-attachment: fixed; /*edit*/}

/* .quizHolder{
    text-align: center;
    height: 500px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: rgb(246, 208, 157);

}  */
/* 
.quiz{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(246, 236, 216);
    height: 400px;
    width: 700px;
    border-radius: 15px;
    justify-content: center
}

.box3{
    display: flex;
    background-color: rgb(119, 73, 73);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    justify-content: center
    
}

#submit{
    background-color: rgb(229, 229, 229);
    text-align: center;
    font-family: "Space+Grotesk";
    border-radius: 25px;
}

#submit:hover{
    background-color: rgb(158, 158, 158);
}

#retry{
    padding: 10px 20px;
    color: #fff;
    background-color: #428bca;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;



}

#submit:hover{
    background-color: rgb(229, 229, 229);
    text-align: center;
    font-family: "Space+Grotesk";
}

.buttonHide{
    display: block;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background: linear-gradient(pink, rgb(185, 192, 232));
  background-attachment: fixed;
  margin: auto;
}


.container {
  width: 450px;
  padding: 20px;
  margin-right: 50%;
  margin-left: 50%;
  background-color: #916b6b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}